@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?96904479');
  src: url('../font/fontello.eot?96904479#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?96904479') format('woff'),
       url('../font/fontello.ttf?96904479') format('truetype'),
       url('../font/fontello.svg?96904479#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?96904479#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-right-circled:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-attention:before { content: '\e802'; } /* '' */
.icon-clock:before { content: '\e803'; } /* '' */
.icon-link-ext:before { content: '\e804'; } /* '' */
.icon-gauge:before { content: '\e805'; } /* '' */
.icon-link-ext-alt:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-arrows-cw:before { content: '\e808'; } /* '' */
.icon-fork:before { content: '\e809'; } /* '' */
.icon-rocket:before { content: '\e80a'; } /* '' */
.icon-beaker:before { content: '\e80b'; } /* '' */
.icon-download-cloud:before { content: '\e80c'; } /* '' */
.icon-lock:before { content: '\e80d'; } /* '' */
.icon-login:before { content: '\e80e'; } /* '' */
.icon-logout:before { content: '\e80f'; } /* '' */
.icon-cog-alt:before { content: '\e810'; } /* '' */
.icon-mail-alt:before { content: '\e811'; } /* '' */
.icon-pencil:before { content: '\e812'; } /* '' */
.icon-floppy:before { content: '\e813'; } /* '' */
.icon-check:before { content: '\e814'; } /* '' */
.icon-check-empty:before { content: '\e815'; } /* '' */
.icon-erase:before { content: '\e816'; } /* '' */
.icon-bug:before { content: '\e817'; } /* '' */
.icon-users:before { content: '\e818'; } /* '' */
.icon-user-md:before { content: '\e819'; } /* '' */
.icon-key:before { content: '\e81a'; } /* '' */
.icon-suitcase:before { content: '\e81b'; } /* '' */
.icon-award:before { content: '\e81c'; } /* '' */
.icon-laptop:before { content: '\e81d'; } /* '' */
.icon-stop:before { content: '\e81e'; } /* '' */
.icon-play:before { content: '\e81f'; } /* '' */
.icon-bell:before { content: '\e820'; } /* '' */
.icon-trash:before { content: '\e821'; } /* '' */
.icon-doc-text:before { content: '\e822'; } /* '' */
.icon-bell-alt:before { content: '\e823'; } /* '' */
.icon-angle-left:before { content: '\e824'; } /* '' */
.icon-angle-down:before { content: '\e825'; } /* '' */
.icon-signal:before { content: '\e826'; } /* '' */