html {
    height: 100%;
}

body {
    background-color: #f8f8f8;
    padding-top: 30px;
    height: 100%;
    width: 100%;    
}

.link-simple {
    text-decoration: none !important;
    color: #555;
}

footer {
    position: fixed;
    top: calc(100% - 24px);    
    border-top: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    width: 100%;
    z-index: 906;
    text-align: center;
    height: 25px;
    font-size: small;
    padding-top: 3px;
}

/* LEFT NAVBAR */

.side-nav {
    display: none;
}

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 200px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #f8f8f8;
        display: initial;
        height: 100%;
        border-right: 1px solid #e7e7e7;
    }

    .side-nav>ul>li>a {
        width: 200px;
    }
    .side-nav>a {
        float: right;
    }        
}

.hidden-side-nav #left-menu {
    left: 45px;
    z-index: 903;
}

.hidden-side-nav #main {
    margin-left: 20px;
}

.hidden-side-nav #left-menu:hover {
    left: 225px;
}

/* MAIN CONTENT */
#main {
    padding: 0 15px;
    min-height: 100%;
    background-color: #fff;
}

@media(min-width:768px) {
    #main {
        position: inherit;
        margin: 0 0 0 200px;
        padding: 0 30px;        
    }
}

/** TABLE */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    font-family: "fontello";
    content: "\e829";
    float: right;
}

table.dataTable thead .sorting_desc:after {
    font-family: "fontello";
    content: "\e828";
    float: right;
}

table.dataTable thead .sorting:after {
    font-family: "fontello";
    content: "\e827";
    float: right;
    color: rgba(50,50,50,.5);
}

/* ----------- CALLOUT ---------- */

.bs-callout+.bs-callout {
    margin-top: -5px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

#menu li.panel{
    margin-bottom: 0px;
    background: none;
    box-shadow: none;
}